.ck.ck-editor__editable_inline {
    outline: none;
}

:root {
    --ck-border-radius: 0;
    --ck-inner-shadow: none;
    --ck-drop-shadow: none;
    --ck-focus-ring: none;
    --ck-color-focus-border: none;
}

#Text .ck.ck-editor__editable_inline {
  border: none;
  height: inherit;
  width: inherit;
}

#TLNotes .ck.ck-editor__editable_inline {
  border: 1px solid var(--ck-color-base-border);
  height: 100%;
  width: 100%;
  max-height: initial;
  overflow-y: auto;
  -webkit-appearance: textfield;
}